/*Body*/

body {

    /*To get rid of default styling*/
    margin: 0;
    padding: 0;
    border: 0;
    
    font-family:"Roboto", sans-serif;
    background-color: #d5df6e;
    color: white;
}

/* Header */
h1 {
    font-size: 1.8rem;
    text-align: center;
}

/*Game area*/

.game-area {
    background-color: #81c3c9;
    width: 75%;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}

.game-area h2 {
    text-align: center;
}

button {
    border: 1px solid #333333;
    background-color: white;
    color: #643173;
    border-radius: 5px;
    padding: 6px;
    font-family: inherit;
}

button:hover {
    background-color: #643173;
    color: white;
    border: 1px solid white;
}


.choice-div {
    width: 50%;
    margin-bottom: 15px;
}

.right-div {
    float: right;
}

.left-div {
    float: left;
}

img {
    width: 70%;
}

.button {
    clear: both;
}

